<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h3>
        <%=camp.title %> - <%= camp.location%>
    </h3>
    <a href="/campgrounds">All Campgrounds</a>
    <form action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
        <button type="submit">Delette Campground</button>
    </form>
</body>
</html>