<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farms</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, cursive;
    }
    html,body{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
<body>
    <h1>All Farms</h1>
    <ul>
        <% for(let farm in farms){ %>
            <li key="<%= farm._id%>"> <a href="<%= farms/farm._id%>"><%= farm.name%></a> </li>
        <% } %>
    </ul>
</body>
</html>